.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
ignore/**
.github/**
.gitignore
.yarnrc
.npmrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
